<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magic\WebhookConnector\Api\StatusManagementInterface"
                type="Magic\WebhookConnector\Model\StatusManagement"/>
    <preference for="Magic\WebhookConnector\Api\Data\StatusInterface"
                type="Magic\WebhookConnector\Model\Data\Status"/>
</config>
