<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="magic_webhookconnector" translate="label" sortOrder="910" showInDefault="1" showInWebsite="1" showInStore="0">
            <label>Magic Webhook Connector</label>
            <tab>general</tab>
            <resource>Magic_WebhookConnector::config</resource>
            <group id="webhook" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Webhook Status</label>
                <field id="env_status" translate="label" type="note" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Environment-driven configuration</label>
                    <frontend_model>Magic\WebhookConnector\Block\Adminhtml\System\Config\WebhookStatus</frontend_model>
                </field>
                <field id="webhook_secret" translate="label comment" type="obscure" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Webhook Secret</label>
                    <comment>Set the shared secret used to compute X-Magic-Signature (HMAC SHA256).</comment>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
            </group>
        </section>
    </system>
</config>
